*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    width: 85%;
    height: 75px;
    margin: 10px auto auto 100px;
    /* border: 2px solid ; */
    align-items: center;
    justify-content: space-evenly;
    background: rgb(127,220,255);
background: linear-gradient(180deg, rgba(127,220,255,1) 0%, rgba(255,255,255,1) 100%);
}

nav img{
    height: 50px;
    margin-left: 10px;
}
.location p {
    overflow: hidden;
    width: 100 px;
   
}
.home{
    width: 10%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location{
    width: 30%;
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    border: 2px solid aliceblue;
    border-bottom: none;
    height: 100%;

}
.location i {
    margin: 15px;
    font-size: 25px;
}
.about, .yourDonationTab{
    border: 2px solid aliceblue;
    border-bottom: none;

    width: 13%;
    height: 100%;
    /* text-align: center; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.logopt{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.logopt div{
    margin: 10px;
    font-size: 15px;
  
    padding: 5px;
}

i:hover{
    box-shadow: 1px 1px 15px yellow;
}
.log{
    position: relative;
    left: 10px;
    border-right: 1.5px solid ;
}
.sign{
    position: relative;
right: 10px;
border-left: 1.5px solid ;

}

.container{
    /* border: 2px solid blue; */
    margin: 20px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}
.top{
    /* border: 2px solid rgb(255, 0, 0); */
    height: 480px;
    margin-top: 20px;
display: flex;
}
.sec1 ,.sec2{
    /* border: 2px solid rgb(85, 255, 0); */
    width: 50%;

}
.sec1{
    display: flex;
    justify-content: center;
}
.sec1 img{
    height: 100%;
    width: 95%;
    border-radius: 50px;
}
.sec2{
    padding: 10px;
}
.sec2 p{
font-size: 1.35rem;
text-align: center;
}
.mid{
    /* border: 2px solid rgb(255, 0, 179); */
margin-top: 50px;
padding: 20px;
display: flex;
flex-direction: column;
}
.mid img{
    /* height: 50%; */
    margin: 10px;
    border: 1px solid gray;
}
.mid .graph ,.chart{
    /* border: 3px solid; */
    /* height: auto; */
    width: 90%;
    margin: 10px auto;
}
.graph img{
    height: 380px;
}
.graph div{
    /* border: 3px solid yellow; */
    width: 100%;
    display: flex;
    height: 80%;
    flex-wrap: nowrap;

}
.graph{
    display: flex;
    flex-direction: column;
}
.chart{
    margin-top: 50px;
    display: flex;
    /* flex-direction: column; */

}
.chart img{
    margin: 10px auto;
    /* border: 1px solid gray; */
height: 500px;
}
.mid p{
    font-size: 1.2rem;
    line-height: 60px;
}
.chart p {
    padding: 10px;
}

.bottom{
    font-size: 1.4rem;
    margin: 20px;
}
.bottom h1{
    text-align: center;
    margin-bottom: 10px;
}
.bottom h5{
    text-align: center;
    line-height: 50px;
}